* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}


/* HEADER */


.header-colour {
    background-color: #1F2937;
    margin-bottom: 96px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px 32px;
}

.Header .logo {
    font-size: 24px;
    color: #F9FAF8;
}

.Header {
    margin-bottom: 100px;
}

.Header ul {
    display: flex;
    gap: 16px;
}

.Header ul li a {
    font-size: 18px;
    color: #E5E7EB;
}


/* MAIN */


.main {
    display: flex;
    justify-content: space-around;
    gap: 16px;
    padding: 60px 90px;
}

.main .first-p h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.main .first-p p {
    font-size: 18px;
    color: #E5E7EB;
}

.main div {
    flex: 1;
}

.img-head img {
    max-height: 300px;
    width: 700px;
}

.sign-up {
    background-color: #3882F6;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
    font-weight: 700;
    margin-top: 20px;
}


/* CONTENT */


.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin-bottom: 96px;
}

.content h2 {
    color: #1F2937;
    font-weight: bolder;
    font-size: 36px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 200px;
    max-height: 300px;
}

.card p {
    text-align: center;
    color: #1F2937;
    font-weight: 300;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 160px;
}

.cards .sml-img {
    border: 5px blue solid;
    width: 200px;
    height: 200px;
    border-radius: 15px;
}


/* QUOTE */


.quote {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    align-items: center;
    text-align: center;
}

.quote blockquote {
    font-style: italic;
    max-width: 50%;
    font-size: 36px;
    font-weight: lighter;
    color: #1F2937;
}

.quote figcaption {
    text-align: right;
}


/* FOOTER */


